.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 15px 30px 10px 30px;
}

#carouselExampleCaptions{
    width: 100%;
    height: auto;
}

.left-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.title{
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
    font-size: 3rem;
    font-weight: bold;
}

.title::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f44336, #880e4f);
    mix-blend-mode: screen; //<-- atento a esta linea//
    position: absolute;
    top: 0;
    left: 0;
}

.paragraph-1{
    font-size: 1.1rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #ad1457;
}

.paragraph-2{
    font-size: 2rem;
    font-weight: bold;
}

.carousel-item{
    background: black;
    width: 600px;
    height: 350px;
    img{
        margin: 35px;
        margin-left: 340px;
        max-width: 200px;
        height: 260px;
        border-radius: 10px;
        opacity: 0.9;
    }
}

.bx{
    font-size: 2.5rem;
    color: #ad1457;
}

.carousel-caption{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 260px;
    left: 55px;
    top: 15px;
    color: white;
}

.carousel-title{
    font-size: 1.8rem;
    font-weight: bold;
}

.carousel-subtitle{
    font-size: 1.3rem;
}

	
img:hover {
    filter: saturate(400%);
}

#carouselExampleCaptions:hover img {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition-duration: 1s;
}

#carouselExampleCaptions {
    overflow:hidden;
}