<div class="sev-card" *ngIf="data">
    <div class="card__img">
        <img src="{{data.url}}" alt="">
        <a class="card__watch-video" (click)="detailVideo(data)">Ver video</a>
    </div>
    <div class="card__body">
        <p class="card__title">{{data.title}}</p>
        <p class="card__description">{{data.description}}</p>
    </div>
    <div class="card__footer">
        Publicado el {{data.date | date: 'dd/MM/yyyy'}}
    </div>
</div>


<!-- Youtube Modal -->
<div class="modal fade" id="youtubeVideo" tabindex="-1" aria-labelledby="youtubeVideoLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="youtubeVideoLabel">{{title}}</h5>
            </div>
            <div class="modal-body">
                <iframe width="460" height="315" [src]="videoId | youtube" title="YouTube video player" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>