main {
    text-align: center;
    height: 100%;
}

.welcome{
    height: 70%;
    padding: 1.5rem;

    .title{
        font-size: 3.5rem;
        font-weight: bolder;
    }
    
    .subTitle{
        font-size: 2rem;
        font-weight: lighter;
    }
}

.explore{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        color: white;
        background: #e91e63;
        position: relative;
        font-size: 1.2rem;
    }
}
