footer {
    text-align: center;
}

ul {
    list-style: none;
    padding-top: 5px;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 15px;
}

.bx {
    font-size: 1.7rem;
    color: #f48fb1;
}

.footer_rights {
    font-size: 0.9rem;
    color: white;
    margin-top: -10px;
}

.footer_author {
    color: #f48fb1;
}
